body {
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
  min-height: 100vh;
  font-family: "Karla", sans-serif;
  background-image: url("/src/img/top-blob.svg"),
    url("/src/img/bottom-blob.svg");
  background-position: top right, left bottom;
  background-repeat: no-repeat;
  background-size: 297px 235px;
}

/*  ---------------------- STYLING STARTING PAGE ----------------------  */

.main-page {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 7px 0px;
  width: 412px;
  height: 41px;

  text-align: center;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;

  color: #293264;
}

.main-description {
  margin: 0px 0px 29px 0px;
  width: 317px;
  height: 80px;

  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #293264;
}

.btn-start-quiz {
  box-sizing: content-box;
  margin: 0px;
  width: 193px;
  height: 52px;

  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  cursor: pointer;
  background-color: #4d5b9e;
  border-radius: 15px;
  border: 0px;
  color: #f5f7fb;
}

/* ---------------------- STYLING QUIZZ PAGE ---------------------- */
.quiz-page {
  display: flex;
  flex-direction: column;
  padding: 10vh 0;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 15px 10vw 0px 10vw;
}

.question {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  word-wrap: break-word;
}

.answers {
  display: flex;
  gap: 14px;
}

.answer {
  box-sizing: content-box;
  border: 0.8px solid #4d5b9e;
  border-radius: 8px;
  padding: 5px 20px;

  font-family: "Inter";
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  cursor: pointer;
  background-color: white;
  color: #293264;
}

.bar {
  width: 80vw;
  height: 0px;
  border: 0.8px solid #dbdef0;
  transform: rotate(-0.05deg);

  margin-top: 15px;
}

.btn {
  font-family: "Inter";
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  cursor: pointer;
  background: #4d5b9e;
  border: 0px;
  border-radius: 10px;
  color: #f5f7fb;
}

.btn--checkAnswers {
  align-self: center;
  margin-top: 30px;
  padding: 10px 22px;
}

.play-again {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}

.correct-answers-text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  padding-right: 20px;
  color: #293264;
}

.btn--play-again {
  align-self: center;
  padding: 10px 18px;
}
